PORT=8787
MONGODB_URI=mongodb://root:root@localhost:27017/teamflow?authSource=admin
JWT_SECRET=fd2bbc39a5b934e6de263c3c0a2f1f5e9c0850c55fa3ebc57bf680c7016d8f960a58f4b079190ef3c6121f0ac72bd1a717062dcb95f101eb0c4c54bcd30c36dc # node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"
JWT_EXPIRES_IN=15m              # access token 有效期
JWT_REFRESH_EXPIRES_IN=7d       # refresh token 有效期
